@model IEnumerable<ObjectBussiness.Test>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TestID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TestID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TestID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TestID })
                </td>
            </tr>
        }
    </tbody>
</table>
